body{
    color: #333333;

}

.primary{
    background: #1CA45E !important;
}

.secondery{
    background: #242c43 !important;
    color: #ffffff !important;
}

.bodyPart{
    min-height: 450px;
}